.slide_box{
    overflow:hidden;
    position: relative;
    min-width: 960px;
    height: 465px;
}
/*min-width는 요소의 최소 너비를 지정
요소의 width 값이 min-width보다 작아지는 것을 방지
예를 들어 최소 너비가 960px, 브라우저 너비가 800일 경우는 960px; 브라우저 너비가 1000일 경우 1000이 될 수도 있다. 따라서 960이하로는 줄지 않는다.*/
.slide_box img{
    display: none;
    position: absolute; /*그림을 겹쳐놓기 위해서 앱솔루트로 고정*/
    left: 50%; /*이미지를 가운데로 놓기 위해서 사용*/
    margin-left: -800px;
}

.no-js .slide_box img:first-child{
    display: inline;
}
/*만약에 js와 css를 전부 끄고 홈페이지를 볼 경우 첫번째 사진만 보여줘 라는 뜻*/
