body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #ffeeee;
}
.form-control {
  width: 30%;
}
#button {
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  text-align: center;
  color: white;
}
.btn {
  width: 30%;
  background-color: #e04f5d;
  border: 1px solid #e04f5d;
  text-align: center;
  color: white;
}
.btn:hover {
  width: 30%;
  background-color: #fff;
  border: 2px solid #e04f5d;
  color: #e04f5d;
}
.forget {
  text-align: center;
}
.input-group {
  width: 30%;
  margin: auto;
}
.container {
  margin-top: 5%;
}
span {
  text-align: center;
}
.for {
  text-align: center;
  font-size: larger;
}
body {
  font-family: "M PLUS Rounded 1c", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
